:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000500;
    --md-ref-palette-primary-2: #000a01;
    --md-ref-palette-primary-3: #000f01;
    --md-ref-palette-primary-4: #001202;
    --md-ref-palette-primary-5: #001502;
    --md-ref-palette-primary-6: #001803;
    --md-ref-palette-primary-7: #001b03;
    --md-ref-palette-primary-8: #001d04;
    --md-ref-palette-primary-9: #001f04;
    --md-ref-palette-primary-10: #002105;
    --md-ref-palette-primary-11: #002406;
    --md-ref-palette-primary-12: #002606;
    --md-ref-palette-primary-13: #002807;
    --md-ref-palette-primary-14: #022b09;
    --md-ref-palette-primary-15: #042d0b;
    --md-ref-palette-primary-16: #062f0d;
    --md-ref-palette-primary-17: #09310f;
    --md-ref-palette-primary-18: #0b3311;
    --md-ref-palette-primary-19: #0e3613;
    --md-ref-palette-primary-20: #103815;
    --md-ref-palette-primary-21: #133a17;
    --md-ref-palette-primary-22: #153d19;
    --md-ref-palette-primary-23: #183f1b;
    --md-ref-palette-primary-24: #1a411d;
    --md-ref-palette-primary-25: #1c431f;
    --md-ref-palette-primary-26: #1f4621;
    --md-ref-palette-primary-27: #214823;
    --md-ref-palette-primary-28: #234a25;
    --md-ref-palette-primary-29: #264d27;
    --md-ref-palette-primary-30: #284f29;
    --md-ref-palette-primary-31: #2a522b;
    --md-ref-palette-primary-32: #2d542d;
    --md-ref-palette-primary-33: #2f562f;
    --md-ref-palette-primary-34: #315932;
    --md-ref-palette-primary-35: #345b34;
    --md-ref-palette-primary-36: #365e36;
    --md-ref-palette-primary-37: #386038;
    --md-ref-palette-primary-38: #3b633a;
    --md-ref-palette-primary-39: #3d653d;
    --md-ref-palette-primary-40: #40683f;
    --md-ref-palette-primary-41: #426a41;
    --md-ref-palette-primary-42: #446d43;
    --md-ref-palette-primary-43: #476f46;
    --md-ref-palette-primary-44: #497248;
    --md-ref-palette-primary-45: #4c744a;
    --md-ref-palette-primary-46: #4e774c;
    --md-ref-palette-primary-47: #50794f;
    --md-ref-palette-primary-48: #537c51;
    --md-ref-palette-primary-49: #557e53;
    --md-ref-palette-primary-50: #588156;
    --md-ref-palette-primary-51: #5a8458;
    --md-ref-palette-primary-52: #5d865a;
    --md-ref-palette-primary-53: #5f895d;
    --md-ref-palette-primary-54: #628b5f;
    --md-ref-palette-primary-55: #648e62;
    --md-ref-palette-primary-56: #679164;
    --md-ref-palette-primary-57: #699366;
    --md-ref-palette-primary-58: #6c9669;
    --md-ref-palette-primary-59: #6e996b;
    --md-ref-palette-primary-60: #719b6e;
    --md-ref-palette-primary-61: #739e70;
    --md-ref-palette-primary-62: #76a173;
    --md-ref-palette-primary-63: #78a375;
    --md-ref-palette-primary-64: #7ba677;
    --md-ref-palette-primary-65: #7ea97a;
    --md-ref-palette-primary-66: #80ab7c;
    --md-ref-palette-primary-67: #83ae7f;
    --md-ref-palette-primary-68: #85b181;
    --md-ref-palette-primary-69: #88b484;
    --md-ref-palette-primary-70: #8bb687;
    --md-ref-palette-primary-71: #8db989;
    --md-ref-palette-primary-72: #90bc8c;
    --md-ref-palette-primary-73: #92bf8e;
    --md-ref-palette-primary-74: #95c191;
    --md-ref-palette-primary-75: #98c493;
    --md-ref-palette-primary-76: #9ac796;
    --md-ref-palette-primary-77: #9dca98;
    --md-ref-palette-primary-78: #a0cc9b;
    --md-ref-palette-primary-79: #a2cf9e;
    --md-ref-palette-primary-80: #a5d2a0;
    --md-ref-palette-primary-81: #a8d5a3;
    --md-ref-palette-primary-82: #abd8a5;
    --md-ref-palette-primary-83: #addba8;
    --md-ref-palette-primary-84: #b0ddab;
    --md-ref-palette-primary-85: #b3e0ad;
    --md-ref-palette-primary-86: #b5e3b0;
    --md-ref-palette-primary-87: #b8e6b3;
    --md-ref-palette-primary-88: #bbe9b5;
    --md-ref-palette-primary-89: #beecb8;
    --md-ref-palette-primary-90: #c1efbb;
    --md-ref-palette-primary-91: #c3f1bd;
    --md-ref-palette-primary-92: #c6f4c0;
    --md-ref-palette-primary-93: #c9f7c3;
    --md-ref-palette-primary-94: #ccfac6;
    --md-ref-palette-primary-95: #cefdc8;
    --md-ref-palette-primary-96: #d4ffce;
    --md-ref-palette-primary-97: #e0ffda;
    --md-ref-palette-primary-98: #ebffe5;
    --md-ref-palette-primary-99: #f6fff0;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000500;
    --md-ref-palette-secondary-2: #010a01;
    --md-ref-palette-secondary-3: #020e03;
    --md-ref-palette-secondary-4: #041105;
    --md-ref-palette-secondary-5: #061406;
    --md-ref-palette-secondary-6: #081708;
    --md-ref-palette-secondary-7: #0a190a;
    --md-ref-palette-secondary-8: #0c1b0c;
    --md-ref-palette-secondary-9: #0e1d0e;
    --md-ref-palette-secondary-10: #101f10;
    --md-ref-palette-secondary-11: #122112;
    --md-ref-palette-secondary-12: #142314;
    --md-ref-palette-secondary-13: #162515;
    --md-ref-palette-secondary-14: #182717;
    --md-ref-palette-secondary-15: #1a2919;
    --md-ref-palette-secondary-16: #1c2c1b;
    --md-ref-palette-secondary-17: #1e2e1d;
    --md-ref-palette-secondary-18: #21301f;
    --md-ref-palette-secondary-19: #233221;
    --md-ref-palette-secondary-20: #253423;
    --md-ref-palette-secondary-21: #273626;
    --md-ref-palette-secondary-22: #293928;
    --md-ref-palette-secondary-23: #2b3b2a;
    --md-ref-palette-secondary-24: #2d3d2c;
    --md-ref-palette-secondary-25: #303f2e;
    --md-ref-palette-secondary-26: #324230;
    --md-ref-palette-secondary-27: #344432;
    --md-ref-palette-secondary-28: #364634;
    --md-ref-palette-secondary-29: #394937;
    --md-ref-palette-secondary-30: #3b4b39;
    --md-ref-palette-secondary-31: #3d4d3b;
    --md-ref-palette-secondary-32: #3f503d;
    --md-ref-palette-secondary-33: #42523f;
    --md-ref-palette-secondary-34: #445442;
    --md-ref-palette-secondary-35: #465744;
    --md-ref-palette-secondary-36: #495946;
    --md-ref-palette-secondary-37: #4b5c48;
    --md-ref-palette-secondary-38: #4d5e4b;
    --md-ref-palette-secondary-39: #50604d;
    --md-ref-palette-secondary-40: #52634f;
    --md-ref-palette-secondary-41: #546552;
    --md-ref-palette-secondary-42: #576854;
    --md-ref-palette-secondary-43: #596a56;
    --md-ref-palette-secondary-44: #5c6d59;
    --md-ref-palette-secondary-45: #5e6f5b;
    --md-ref-palette-secondary-46: #61725d;
    --md-ref-palette-secondary-47: #637460;
    --md-ref-palette-secondary-48: #657762;
    --md-ref-palette-secondary-49: #687965;
    --md-ref-palette-secondary-50: #6a7c67;
    --md-ref-palette-secondary-51: #6d7e69;
    --md-ref-palette-secondary-52: #6f816c;
    --md-ref-palette-secondary-53: #72836e;
    --md-ref-palette-secondary-54: #748671;
    --md-ref-palette-secondary-55: #778973;
    --md-ref-palette-secondary-56: #7a8b76;
    --md-ref-palette-secondary-57: #7c8e78;
    --md-ref-palette-secondary-58: #7f907b;
    --md-ref-palette-secondary-59: #81937d;
    --md-ref-palette-secondary-60: #849680;
    --md-ref-palette-secondary-61: #869882;
    --md-ref-palette-secondary-62: #899b85;
    --md-ref-palette-secondary-63: #8c9e87;
    --md-ref-palette-secondary-64: #8ea08a;
    --md-ref-palette-secondary-65: #91a38c;
    --md-ref-palette-secondary-66: #93a68f;
    --md-ref-palette-secondary-67: #96a892;
    --md-ref-palette-secondary-68: #99ab94;
    --md-ref-palette-secondary-69: #9bae97;
    --md-ref-palette-secondary-70: #9eb099;
    --md-ref-palette-secondary-71: #a1b39c;
    --md-ref-palette-secondary-72: #a3b69f;
    --md-ref-palette-secondary-73: #a6b8a1;
    --md-ref-palette-secondary-74: #a9bba4;
    --md-ref-palette-secondary-75: #acbea7;
    --md-ref-palette-secondary-76: #aec1a9;
    --md-ref-palette-secondary-77: #b1c3ac;
    --md-ref-palette-secondary-78: #b4c6af;
    --md-ref-palette-secondary-79: #b6c9b1;
    --md-ref-palette-secondary-80: #b9ccb4;
    --md-ref-palette-secondary-81: #bccfb7;
    --md-ref-palette-secondary-82: #bfd1b9;
    --md-ref-palette-secondary-83: #c1d4bc;
    --md-ref-palette-secondary-84: #c4d7bf;
    --md-ref-palette-secondary-85: #c7dac1;
    --md-ref-palette-secondary-86: #caddc4;
    --md-ref-palette-secondary-87: #cddfc7;
    --md-ref-palette-secondary-88: #cfe2ca;
    --md-ref-palette-secondary-89: #d2e5cc;
    --md-ref-palette-secondary-90: #d5e8cf;
    --md-ref-palette-secondary-91: #d8ebd2;
    --md-ref-palette-secondary-92: #dbeed5;
    --md-ref-palette-secondary-93: #ddf0d7;
    --md-ref-palette-secondary-94: #e0f3da;
    --md-ref-palette-secondary-95: #e3f6dd;
    --md-ref-palette-secondary-96: #e6f9e0;
    --md-ref-palette-secondary-97: #e9fce3;
    --md-ref-palette-secondary-98: #ecffe5;
    --md-ref-palette-secondary-99: #f6fff0;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #040400;
    --md-ref-palette-tertiary-2: #070800;
    --md-ref-palette-tertiary-3: #0b0c00;
    --md-ref-palette-tertiary-4: #0e0f00;
    --md-ref-palette-tertiary-5: #111200;
    --md-ref-palette-tertiary-6: #131500;
    --md-ref-palette-tertiary-7: #151700;
    --md-ref-palette-tertiary-8: #171900;
    --md-ref-palette-tertiary-9: #191b00;
    --md-ref-palette-tertiary-10: #1b1d00;
    --md-ref-palette-tertiary-11: #1d1f00;
    --md-ref-palette-tertiary-12: #1f2100;
    --md-ref-palette-tertiary-13: #212400;
    --md-ref-palette-tertiary-14: #232600;
    --md-ref-palette-tertiary-15: #252800;
    --md-ref-palette-tertiary-16: #272a00;
    --md-ref-palette-tertiary-17: #292c00;
    --md-ref-palette-tertiary-18: #2b2f00;
    --md-ref-palette-tertiary-19: #2e3102;
    --md-ref-palette-tertiary-20: #303303;
    --md-ref-palette-tertiary-21: #323505;
    --md-ref-palette-tertiary-22: #343706;
    --md-ref-palette-tertiary-23: #363a09;
    --md-ref-palette-tertiary-24: #393c0b;
    --md-ref-palette-tertiary-25: #3b3e0d;
    --md-ref-palette-tertiary-26: #3d400f;
    --md-ref-palette-tertiary-27: #3f4311;
    --md-ref-palette-tertiary-28: #424514;
    --md-ref-palette-tertiary-29: #444716;
    --md-ref-palette-tertiary-30: #464a18;
    --md-ref-palette-tertiary-31: #494c1a;
    --md-ref-palette-tertiary-32: #4b4e1c;
    --md-ref-palette-tertiary-33: #4d511e;
    --md-ref-palette-tertiary-34: #505320;
    --md-ref-palette-tertiary-35: #525622;
    --md-ref-palette-tertiary-36: #545825;
    --md-ref-palette-tertiary-37: #575a27;
    --md-ref-palette-tertiary-38: #595d29;
    --md-ref-palette-tertiary-39: #5c5f2b;
    --md-ref-palette-tertiary-40: #5e622d;
    --md-ref-palette-tertiary-41: #60642f;
    --md-ref-palette-tertiary-42: #636732;
    --md-ref-palette-tertiary-43: #656934;
    --md-ref-palette-tertiary-44: #686c36;
    --md-ref-palette-tertiary-45: #6a6e38;
    --md-ref-palette-tertiary-46: #6d713a;
    --md-ref-palette-tertiary-47: #6f733d;
    --md-ref-palette-tertiary-48: #72763f;
    --md-ref-palette-tertiary-49: #747841;
    --md-ref-palette-tertiary-50: #777b43;
    --md-ref-palette-tertiary-51: #7a7d46;
    --md-ref-palette-tertiary-52: #7c8048;
    --md-ref-palette-tertiary-53: #7f824a;
    --md-ref-palette-tertiary-54: #81854d;
    --md-ref-palette-tertiary-55: #84884f;
    --md-ref-palette-tertiary-56: #868a51;
    --md-ref-palette-tertiary-57: #898d54;
    --md-ref-palette-tertiary-58: #8c8f56;
    --md-ref-palette-tertiary-59: #8e9258;
    --md-ref-palette-tertiary-60: #91955b;
    --md-ref-palette-tertiary-61: #93975d;
    --md-ref-palette-tertiary-62: #969a5f;
    --md-ref-palette-tertiary-63: #999d62;
    --md-ref-palette-tertiary-64: #9b9f64;
    --md-ref-palette-tertiary-65: #9ea266;
    --md-ref-palette-tertiary-66: #a1a569;
    --md-ref-palette-tertiary-67: #a3a76b;
    --md-ref-palette-tertiary-68: #a6aa6e;
    --md-ref-palette-tertiary-69: #a9ad70;
    --md-ref-palette-tertiary-70: #acaf73;
    --md-ref-palette-tertiary-71: #aeb275;
    --md-ref-palette-tertiary-72: #b1b578;
    --md-ref-palette-tertiary-73: #b4b87a;
    --md-ref-palette-tertiary-74: #b7ba7c;
    --md-ref-palette-tertiary-75: #b9bd7f;
    --md-ref-palette-tertiary-76: #bcc081;
    --md-ref-palette-tertiary-77: #bfc384;
    --md-ref-palette-tertiary-78: #c2c586;
    --md-ref-palette-tertiary-79: #c4c889;
    --md-ref-palette-tertiary-80: #c7cb8c;
    --md-ref-palette-tertiary-81: #cace8e;
    --md-ref-palette-tertiary-82: #cdd091;
    --md-ref-palette-tertiary-83: #d0d393;
    --md-ref-palette-tertiary-84: #d2d696;
    --md-ref-palette-tertiary-85: #d5d998;
    --md-ref-palette-tertiary-86: #d8dc9b;
    --md-ref-palette-tertiary-87: #dbdf9d;
    --md-ref-palette-tertiary-88: #dee1a0;
    --md-ref-palette-tertiary-89: #e1e4a3;
    --md-ref-palette-tertiary-90: #e3e7a5;
    --md-ref-palette-tertiary-91: #e6eaa8;
    --md-ref-palette-tertiary-92: #e9edaa;
    --md-ref-palette-tertiary-93: #ecf0ad;
    --md-ref-palette-tertiary-94: #eff3b0;
    --md-ref-palette-tertiary-95: #f2f5b2;
    --md-ref-palette-tertiary-96: #f5f8b5;
    --md-ref-palette-tertiary-97: #f8fbb8;
    --md-ref-palette-tertiary-98: #fbfeba;
    --md-ref-palette-tertiary-99: #fdffdd;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-6: #2e0400;
    --md-ref-palette-error-7: #320500;
    --md-ref-palette-error-8: #350500;
    --md-ref-palette-error-9: #390600;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-11: #400800;
    --md-ref-palette-error-12: #440800;
    --md-ref-palette-error-13: #480900;
    --md-ref-palette-error-14: #4b0a00;
    --md-ref-palette-error-15: #4f0b00;
    --md-ref-palette-error-16: #530c00;
    --md-ref-palette-error-17: #570d00;
    --md-ref-palette-error-18: #5a0e00;
    --md-ref-palette-error-19: #5e0f00;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-21: #661200;
    --md-ref-palette-error-22: #6a1300;
    --md-ref-palette-error-23: #6e1400;
    --md-ref-palette-error-24: #721500;
    --md-ref-palette-error-25: #751701;
    --md-ref-palette-error-26: #791903;
    --md-ref-palette-error-27: #7c1c04;
    --md-ref-palette-error-28: #7f1e06;
    --md-ref-palette-error-29: #822008;
    --md-ref-palette-error-30: #85230a;
    --md-ref-palette-error-31: #89250d;
    --md-ref-palette-error-32: #8c270f;
    --md-ref-palette-error-33: #8f2a11;
    --md-ref-palette-error-34: #922c13;
    --md-ref-palette-error-35: #962e15;
    --md-ref-palette-error-36: #993118;
    --md-ref-palette-error-37: #9c331a;
    --md-ref-palette-error-38: #a0351c;
    --md-ref-palette-error-39: #a3381e;
    --md-ref-palette-error-40: #a63a20;
    --md-ref-palette-error-41: #a93c22;
    --md-ref-palette-error-42: #ad3f24;
    --md-ref-palette-error-43: #b04127;
    --md-ref-palette-error-44: #b34329;
    --md-ref-palette-error-45: #b7462b;
    --md-ref-palette-error-46: #ba482d;
    --md-ref-palette-error-47: #bd4b2f;
    --md-ref-palette-error-48: #c04d31;
    --md-ref-palette-error-49: #c44f34;
    --md-ref-palette-error-50: #c75236;
    --md-ref-palette-error-51: #ca5438;
    --md-ref-palette-error-52: #ce573a;
    --md-ref-palette-error-53: #d1593c;
    --md-ref-palette-error-54: #d45c3f;
    --md-ref-palette-error-55: #d85e41;
    --md-ref-palette-error-56: #db6043;
    --md-ref-palette-error-57: #de6345;
    --md-ref-palette-error-58: #e26548;
    --md-ref-palette-error-59: #e5684a;
    --md-ref-palette-error-60: #e86a4c;
    --md-ref-palette-error-61: #ec6d4e;
    --md-ref-palette-error-62: #ef6f51;
    --md-ref-palette-error-63: #f27253;
    --md-ref-palette-error-64: #f67455;
    --md-ref-palette-error-65: #f97758;
    --md-ref-palette-error-66: #fd795a;
    --md-ref-palette-error-67: #ff7d5d;
    --md-ref-palette-error-68: #ff8163;
    --md-ref-palette-error-69: #ff8669;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-71: #ff8f74;
    --md-ref-palette-error-72: #ff9379;
    --md-ref-palette-error-73: #ff987f;
    --md-ref-palette-error-74: #ff9c84;
    --md-ref-palette-error-75: #ffa089;
    --md-ref-palette-error-76: #ffa48e;
    --md-ref-palette-error-77: #ffa894;
    --md-ref-palette-error-78: #ffac99;
    --md-ref-palette-error-79: #ffb09e;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-81: #ffb8a7;
    --md-ref-palette-error-82: #ffbcac;
    --md-ref-palette-error-83: #ffc0b1;
    --md-ref-palette-error-84: #ffc4b6;
    --md-ref-palette-error-85: #ffc8bb;
    --md-ref-palette-error-86: #ffcbbf;
    --md-ref-palette-error-87: #ffcfc4;
    --md-ref-palette-error-88: #ffd3c9;
    --md-ref-palette-error-89: #ffd7cd;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-91: #ffded7;
    --md-ref-palette-error-92: #ffe2db;
    --md-ref-palette-error-93: #ffe6e0;
    --md-ref-palette-error-94: #ffe9e4;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020402;
    --md-ref-palette-neutral-2: #050805;
    --md-ref-palette-neutral-3: #090c08;
    --md-ref-palette-neutral-4: #0c0f0b;
    --md-ref-palette-neutral-5: #0e120e;
    --md-ref-palette-neutral-6: #111410;
    --md-ref-palette-neutral-7: #131612;
    --md-ref-palette-neutral-8: #151914;
    --md-ref-palette-neutral-9: #171a16;
    --md-ref-palette-neutral-10: #191c18;
    --md-ref-palette-neutral-11: #1b1e1a;
    --md-ref-palette-neutral-12: #1d201c;
    --md-ref-palette-neutral-13: #1f231e;
    --md-ref-palette-neutral-14: #212520;
    --md-ref-palette-neutral-15: #232722;
    --md-ref-palette-neutral-16: #252924;
    --md-ref-palette-neutral-17: #282b26;
    --md-ref-palette-neutral-18: #2a2d28;
    --md-ref-palette-neutral-19: #2c2f2a;
    --md-ref-palette-neutral-20: #2e312c;
    --md-ref-palette-neutral-21: #30342f;
    --md-ref-palette-neutral-22: #323631;
    --md-ref-palette-neutral-23: #353833;
    --md-ref-palette-neutral-24: #373a35;
    --md-ref-palette-neutral-25: #393c37;
    --md-ref-palette-neutral-26: #3b3f39;
    --md-ref-palette-neutral-27: #3d413c;
    --md-ref-palette-neutral-28: #40433e;
    --md-ref-palette-neutral-29: #424540;
    --md-ref-palette-neutral-30: #444842;
    --md-ref-palette-neutral-31: #474a45;
    --md-ref-palette-neutral-32: #494c47;
    --md-ref-palette-neutral-33: #4b4f49;
    --md-ref-palette-neutral-34: #4e514c;
    --md-ref-palette-neutral-35: #50534e;
    --md-ref-palette-neutral-36: #525650;
    --md-ref-palette-neutral-37: #555853;
    --md-ref-palette-neutral-38: #575b55;
    --md-ref-palette-neutral-39: #5a5d57;
    --md-ref-palette-neutral-40: #5c5f5a;
    --md-ref-palette-neutral-41: #5e625c;
    --md-ref-palette-neutral-42: #61645e;
    --md-ref-palette-neutral-43: #636761;
    --md-ref-palette-neutral-44: #666963;
    --md-ref-palette-neutral-45: #686c66;
    --md-ref-palette-neutral-46: #6b6e68;
    --md-ref-palette-neutral-47: #6d706b;
    --md-ref-palette-neutral-48: #70736d;
    --md-ref-palette-neutral-49: #72756f;
    --md-ref-palette-neutral-50: #757872;
    --md-ref-palette-neutral-51: #777b74;
    --md-ref-palette-neutral-52: #7a7d77;
    --md-ref-palette-neutral-53: #7d8079;
    --md-ref-palette-neutral-54: #7f827c;
    --md-ref-palette-neutral-55: #82857e;
    --md-ref-palette-neutral-56: #848781;
    --md-ref-palette-neutral-57: #878a84;
    --md-ref-palette-neutral-58: #898c86;
    --md-ref-palette-neutral-59: #8c8f89;
    --md-ref-palette-neutral-60: #8f928b;
    --md-ref-palette-neutral-61: #91948e;
    --md-ref-palette-neutral-62: #949790;
    --md-ref-palette-neutral-63: #979993;
    --md-ref-palette-neutral-64: #999c96;
    --md-ref-palette-neutral-65: #9c9f98;
    --md-ref-palette-neutral-66: #9fa19b;
    --md-ref-palette-neutral-67: #a1a49d;
    --md-ref-palette-neutral-68: #a4a7a0;
    --md-ref-palette-neutral-69: #a7a9a3;
    --md-ref-palette-neutral-70: #a9aca5;
    --md-ref-palette-neutral-71: #acafa8;
    --md-ref-palette-neutral-72: #afb2ab;
    --md-ref-palette-neutral-73: #b2b4ad;
    --md-ref-palette-neutral-74: #b4b7b0;
    --md-ref-palette-neutral-75: #b7bab3;
    --md-ref-palette-neutral-76: #babcb5;
    --md-ref-palette-neutral-77: #bcbfb8;
    --md-ref-palette-neutral-78: #bfc2bb;
    --md-ref-palette-neutral-79: #c2c5be;
    --md-ref-palette-neutral-80: #c5c7c0;
    --md-ref-palette-neutral-81: #c8cac3;
    --md-ref-palette-neutral-82: #cacdc6;
    --md-ref-palette-neutral-83: #cdd0c8;
    --md-ref-palette-neutral-84: #d0d2cb;
    --md-ref-palette-neutral-85: #d3d5ce;
    --md-ref-palette-neutral-86: #d6d8d1;
    --md-ref-palette-neutral-87: #d8dbd4;
    --md-ref-palette-neutral-88: #dbded6;
    --md-ref-palette-neutral-89: #dee1d9;
    --md-ref-palette-neutral-90: #e1e3dc;
    --md-ref-palette-neutral-91: #e4e6df;
    --md-ref-palette-neutral-92: #e7e9e2;
    --md-ref-palette-neutral-93: #eaece4;
    --md-ref-palette-neutral-94: #edefe7;
    --md-ref-palette-neutral-95: #eff2ea;
    --md-ref-palette-neutral-96: #f2f4ed;
    --md-ref-palette-neutral-97: #f5f7f0;
    --md-ref-palette-neutral-98: #f8faf3;
    --md-ref-palette-neutral-99: #fbfdf5;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #010501;
    --md-ref-palette-neutral-variant-2: #040904;
    --md-ref-palette-neutral-variant-3: #070d06;
    --md-ref-palette-neutral-variant-4: #091009;
    --md-ref-palette-neutral-variant-5: #0c130b;
    --md-ref-palette-neutral-variant-6: #0e150e;
    --md-ref-palette-neutral-variant-7: #111710;
    --md-ref-palette-neutral-variant-8: #131912;
    --md-ref-palette-neutral-variant-9: #151b14;
    --md-ref-palette-neutral-variant-10: #171d16;
    --md-ref-palette-neutral-variant-11: #191f17;
    --md-ref-palette-neutral-variant-12: #1b2119;
    --md-ref-palette-neutral-variant-13: #1d231b;
    --md-ref-palette-neutral-variant-14: #1f251d;
    --md-ref-palette-neutral-variant-15: #21281f;
    --md-ref-palette-neutral-variant-16: #232a21;
    --md-ref-palette-neutral-variant-17: #252c23;
    --md-ref-palette-neutral-variant-18: #272e26;
    --md-ref-palette-neutral-variant-19: #293028;
    --md-ref-palette-neutral-variant-20: #2b322a;
    --md-ref-palette-neutral-variant-21: #2d342c;
    --md-ref-palette-neutral-variant-22: #30372e;
    --md-ref-palette-neutral-variant-23: #323930;
    --md-ref-palette-neutral-variant-24: #343b32;
    --md-ref-palette-neutral-variant-25: #363d34;
    --md-ref-palette-neutral-variant-26: #384037;
    --md-ref-palette-neutral-variant-27: #3b4239;
    --md-ref-palette-neutral-variant-28: #3d443b;
    --md-ref-palette-neutral-variant-29: #3f463d;
    --md-ref-palette-neutral-variant-30: #42493f;
    --md-ref-palette-neutral-variant-31: #444b42;
    --md-ref-palette-neutral-variant-32: #464d44;
    --md-ref-palette-neutral-variant-33: #485046;
    --md-ref-palette-neutral-variant-34: #4b5249;
    --md-ref-palette-neutral-variant-35: #4d544b;
    --md-ref-palette-neutral-variant-36: #50574d;
    --md-ref-palette-neutral-variant-37: #52594f;
    --md-ref-palette-neutral-variant-38: #545c52;
    --md-ref-palette-neutral-variant-39: #575e54;
    --md-ref-palette-neutral-variant-40: #596056;
    --md-ref-palette-neutral-variant-41: #5c6359;
    --md-ref-palette-neutral-variant-42: #5e655b;
    --md-ref-palette-neutral-variant-43: #60685e;
    --md-ref-palette-neutral-variant-44: #636a60;
    --md-ref-palette-neutral-variant-45: #656d62;
    --md-ref-palette-neutral-variant-46: #686f65;
    --md-ref-palette-neutral-variant-47: #6a7267;
    --md-ref-palette-neutral-variant-48: #6d746a;
    --md-ref-palette-neutral-variant-49: #6f776c;
    --md-ref-palette-neutral-variant-50: #72796f;
    --md-ref-palette-neutral-variant-51: #747c71;
    --md-ref-palette-neutral-variant-52: #777e74;
    --md-ref-palette-neutral-variant-53: #798176;
    --md-ref-palette-neutral-variant-54: #7c8379;
    --md-ref-palette-neutral-variant-55: #7e867b;
    --md-ref-palette-neutral-variant-56: #81887e;
    --md-ref-palette-neutral-variant-57: #848b80;
    --md-ref-palette-neutral-variant-58: #868e83;
    --md-ref-palette-neutral-variant-59: #899085;
    --md-ref-palette-neutral-variant-60: #8b9388;
    --md-ref-palette-neutral-variant-61: #8e958a;
    --md-ref-palette-neutral-variant-62: #91988d;
    --md-ref-palette-neutral-variant-63: #939b8f;
    --md-ref-palette-neutral-variant-64: #969d92;
    --md-ref-palette-neutral-variant-65: #99a095;
    --md-ref-palette-neutral-variant-66: #9ba397;
    --md-ref-palette-neutral-variant-67: #9ea59a;
    --md-ref-palette-neutral-variant-68: #a1a89c;
    --md-ref-palette-neutral-variant-69: #a3ab9f;
    --md-ref-palette-neutral-variant-70: #a6ada2;
    --md-ref-palette-neutral-variant-71: #a9b0a4;
    --md-ref-palette-neutral-variant-72: #abb3a7;
    --md-ref-palette-neutral-variant-73: #aeb6aa;
    --md-ref-palette-neutral-variant-74: #b1b8ac;
    --md-ref-palette-neutral-variant-75: #b4bbaf;
    --md-ref-palette-neutral-variant-76: #b6beb2;
    --md-ref-palette-neutral-variant-77: #b9c0b4;
    --md-ref-palette-neutral-variant-78: #bcc3b7;
    --md-ref-palette-neutral-variant-79: #bfc6ba;
    --md-ref-palette-neutral-variant-80: #c1c9bc;
    --md-ref-palette-neutral-variant-81: #c4ccbf;
    --md-ref-palette-neutral-variant-82: #c7cec2;
    --md-ref-palette-neutral-variant-83: #cad1c5;
    --md-ref-palette-neutral-variant-84: #ccd4c7;
    --md-ref-palette-neutral-variant-85: #cfd7ca;
    --md-ref-palette-neutral-variant-86: #d2d9cd;
    --md-ref-palette-neutral-variant-87: #d5dcd0;
    --md-ref-palette-neutral-variant-88: #d8dfd2;
    --md-ref-palette-neutral-variant-89: #dbe2d5;
    --md-ref-palette-neutral-variant-90: #dde5d8;
    --md-ref-palette-neutral-variant-91: #e0e8db;
    --md-ref-palette-neutral-variant-92: #e3eade;
    --md-ref-palette-neutral-variant-93: #e6ede0;
    --md-ref-palette-neutral-variant-94: #e9f0e3;
    --md-ref-palette-neutral-variant-95: #ecf3e6;
    --md-ref-palette-neutral-variant-96: #eff6e9;
    --md-ref-palette-neutral-variant-97: #f2f9ec;
    --md-ref-palette-neutral-variant-98: #f4fcee;
    --md-ref-palette-neutral-variant-99: #f7fff1;
    --md-ref-palette-neutral-variant-100: #ffffff;
}

:root {
    --md-sys-color-background: light-dark(#f8faf3, #0c0f0b);
    --md-sys-color-error: light-dark(#a73b21, #f97758);
    --md-sys-color-error-container: light-dark(#fd795a, #85230a);
    --md-sys-color-error-dim: light-dark(#791903, #c44f34);
    --md-sys-color-error-palette-key-color: light-dark(#c75236, #c75236);
    --md-sys-color-inverse-on-surface: light-dark(#9b9e97, #535650);
    --md-sys-color-inverse-primary: light-dark(#cefdc8, #486746);
    --md-sys-color-inverse-surface: light-dark(#0c0f0b, #f8faf3);
    --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#72796f, #72796f);
    --md-sys-color-on-background: light-dark(#2d342c, #e0e8db);
    --md-sys-color-on-error: light-dark(#fff7f6, #450900);
    --md-sys-color-on-error-container: light-dark(#6e1400, #ff9b82);
    --md-sys-color-on-primary: light-dark(#eaffe3, #294729);
    --md-sys-color-on-primary-container: light-dark(#335b33, #c9edc3);
    --md-sys-color-on-primary-fixed: light-dark(#204822, #294628);
    --md-sys-color-on-primary-fixed-variant: light-dark(#3d653c, #446342);
    --md-sys-color-on-secondary: light-dark(#ebfee5, #344432);
    --md-sys-color-on-secondary-container: light-dark(#465643, #b2c4ad);
    --md-sys-color-on-secondary-fixed: light-dark(#334332, #334332);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#4f604d, #4f604d);
    --md-sys-color-on-surface: light-dark(#2d342c, #e0e8db);
    --md-sys-color-on-surface-variant: light-dark(#5a6157, #a6ada2);
    --md-sys-color-on-tertiary: light-dark(#fafeba, #5f622e);
    --md-sys-color-on-tertiary-container: light-dark(#5f622e, #565a26);
    --md-sys-color-on-tertiary-fixed: light-dark(#4c501d, #4c501d);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#696d37, #696d37);
    --md-sys-color-outline: light-dark(#757d72, #70786d);
    --md-sys-color-outline-variant: light-dark(#adb4a8, #434a41);
    --md-sys-color-primary: light-dark(#40683f, #add0a8);
    --md-sys-color-primary-container: light-dark(#c1efbb, #3b5a3a);
    --md-sys-color-primary-dim: light-dark(#345c34, #a0c29b);
    --md-sys-color-primary-fixed: light-dark(#c1efbb, #c9ecc2);
    --md-sys-color-primary-fixed-dim: light-dark(#b3e0ad, #bbdeb5);
    --md-sys-color-primary-palette-key-color: light-dark(#588156, #5f7f5c);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#536350, #b9ccb4);
    --md-sys-color-secondary-container: light-dark(#d5e8cf, #303f2e);
    --md-sys-color-secondary-dim: light-dark(#475744, #acbea7);
    --md-sys-color-secondary-fixed: light-dark(#d5e8cf, #d5e8cf);
    --md-sys-color-secondary-fixed-dim: light-dark(#c7dac1, #c7dac1);
    --md-sys-color-secondary-palette-key-color: light-dark(#6b7c67, #6b7c67);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8faf3, #0c0f0b);
    --md-sys-color-surface-bright: light-dark(#f8faf3, #272e26);
    --md-sys-color-surface-container: light-dark(#eaf0e5, #161b15);
    --md-sys-color-surface-container-high: light-dark(#e4eadf, #1b211a);
    --md-sys-color-surface-container-highest: light-dark(#dde5d8, #21281f);
    --md-sys-color-surface-container-low: light-dark(#f1f5eb, #10150f);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#d5dcd0, #0c0f0b);
    --md-sys-color-surface-tint: light-dark(#40683f, #add0a8);
    --md-sys-color-surface-variant: light-dark(#dde5d8, #21281f);
    --md-sys-color-tertiary: light-dark(#5f622e, #fbfeba);
    --md-sys-color-tertiary-container: light-dark(#fbfeba, #ecf0ad);
    --md-sys-color-tertiary-dim: light-dark(#535623, #e3e7a5);
    --md-sys-color-tertiary-fixed: light-dark(#fbfeba, #fbfeba);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ecf0ad, #ecf0ad);
    --md-sys-color-tertiary-palette-key-color: light-dark(#777b44, #777b44);
}
